#create-problem-card {
  margin: 20px;
  width: 95%;
  max-width: 235px;
}

mat-form-field {
  display: block;
}

button {
  margin-top: 10px;
  width: 100%;
}


mat-radio-button {
  display: block;
}
