<div id="user-list-div" class="mat-elevation-z5">
  <mat-table [dataSource]="users | async" matSort>

    <!-- First Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Namn</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.firstName}} {{user.lastName}}</mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef>Kontotyp</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.role }} </mat-cell>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>MongoDB Id</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user._id}}</mat-cell>
    </ng-container>

    <!-- Firebase Id Column -->
    <ng-container matColumnDef="uid">
      <mat-header-cell *matHeaderCellDef>Firebase Id</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.uid}}</mat-cell>
    </ng-container>

    <!-- Firebase Id Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <button mat-icon-button [matMenuTriggerFor]="actionMenu">
          <mat-icon>
            more_vert
          </mat-icon>
        </button>
        <mat-menu #actionMenu="matMenu">
          <button mat-menu-item (click)="deleteUser(user.uid)">Radera</button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row id="header-row" *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]"
                   [showFirstLastButtons]="true">
    </mat-paginator>
  </mat-table>
</div>
