<nav>
  <mat-toolbar color="primary">
    <!-- Logo -->
    <button mat-button routerLink="/">
      <img id="logo" src="../../../assets/logos/logo-solid-negative.png">
    </button>
    <span class="fill-remaining-space"></span>

    <!-- if logged in -->
    <span *ngIf="authService.isLoggedIn && user">

      <!-- if student -->
      <span *ngIf="userService.isStudent(user)">

        <button mat-raised-button routerLink="problem-demo" color="accent">Problem Demo</button>

      </span>

      <!-- if teacher -->
      <span *ngIf="userService.isTeacher(user)">

        <button mat-raised-button routerLink="klassrum" color="accent">Klassrum</button>

      </span>

      <!-- if admin -->
      <span *ngIf="userService.isAdmin(user)">

        <button mat-raised-button routerLink="admin" color="accent">Admin</button>

      </span>

      <!-- Profile -->
      <button mat-button routerLink="profilsida">
        {{ user.firstName }}
      </button>

      <!-- Logout -->
      <button mat-raised-button (click)="userService.logout()" color="primary">
        Logga ut
      </button>

    </span>
    <!-- if NOT logged in -->
    <span *ngIf="!authService.isLoggedIn">

      <!-- Create Account -->
      <button mat-button routerLink="skapa-konto">
        Skapa konto
      </button>

      <!-- Login -->
      <button mat-raised-button routerLink="logga-in" color="accent">
        Logga in
      </button>

      </span>
  </mat-toolbar>
</nav>
