<div class="center">
  <mat-card>
    <!--<button mat-icon-button (click)="sidenav.toggle()">-->
      <!--<mat-icon >menu</mat-icon>-->
    <!--</button>-->
    <mat-sidenav-container>
      <mat-sidenav #sidenav [mode]="'side'" [opened]="true">
        <button mat-raised-button color="primary" routerLink="konto">Konto</button>
        <button mat-raised-button color="primary" routerLink="installningar">Inställningar</button>
      </mat-sidenav>
      <mat-sidenav-content id="sidenav-content">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-card>
</div>
