<div id="sign-up-div" class="center">
  <mat-card id="sign-up-card">
    <h2 *ngIf="!classCode.value">Skapa konto</h2>
    <h2 *ngIf="classCode.value">Lägg till elevkonto</h2>
    <mat-vertical-stepper [linear]="true">

      <!-- Personal Info -->
      <mat-step [stepControl]="userForm">
        <form [formGroup]="userForm">
          <ng-template matStepLabel>Personinformation</ng-template>

          <!-- First Name -->
          <mat-form-field>
            <input matInput placeholder="Förnamn" formControlName="firstName">
            <mat-error *ngIf="firstName.touched && firstName.hasError('required')">
              Förnamn krävs.
            </mat-error>
          </mat-form-field>

          <!-- Last Name -->
          <mat-form-field>
            <input matInput placeholder="Efternamn" formControlName="lastName">
            <mat-error *ngIf="lastName.touched && lastName.hasError('required')">
              Efternamn krävs.
            </mat-error>
          </mat-form-field>

          <!-- Role -->
          <mat-radio-group *ngIf="!classCode.value" id="role-radio-group" formControlName="role">
            <mat-radio-button value="student" color="primary">Elev</mat-radio-button>
            <mat-radio-button value="teacher">Lärare</mat-radio-button>
          </mat-radio-group>

          <!-- Next -->
          <button class="next" mat-raised-button color="primary" matStepperNext [disabled]="userForm.invalid">
            Nästa<mat-icon>navigate_next</mat-icon>
          </button>

        </form>
      </mat-step>
      <!-- END Personal Info -->

      <!-- Role Info -->
      <!-- Student Info -->
      <mat-step *ngIf="role.value==='student'" [stepControl]="studentForm">
        <form [formGroup]="studentForm">

          <ng-template matStepLabel>Kontoinformation</ng-template>

          <!-- Class Code -->
          <mat-form-field>
            <input matInput placeholder="Klasskod" formControlName="classCode">
            <mat-icon matSuffix [ngStyle]="{'background-color': classCode.status==='VALID' ? '#8BC34A' : '#F44336'}">
              {{classCode.status==='VALID' ? 'check' : 'clear'}}
            </mat-icon>
            <mat-error *ngIf="classCode.touched && classCode.hasError('required')">
              Klasskod krävs.
            </mat-error>
          </mat-form-field>

          <!-- Next -->
          <button class="next" mat-raised-button color="primary" matStepperNext
                  [disabled]="studentForm.invalid || classCode.status!=='VALID'">
            Nästa<mat-icon>navigate_next</mat-icon>
          </button>

        </form>
      </mat-step>

      <!-- Teacher Info -->
      <mat-step *ngIf="role.value==='teacher'" [stepControl]="teacherForm">
        <ng-template matStepLabel>Kontoinformation</ng-template>
        <form [formGroup]="teacherForm">

          <!-- Phone -->
          <mat-form-field>
            <input matInput placeholder="Telefonnummer" formControlName="phone">
            <mat-error *ngIf="phone.touched && phone.hasError('required')">
              Telefonnummer krävs.
            </mat-error>
            <mat-error *ngIf="phone.touched && !phone.hasError('required') && phone.hasError('pattern')">
              Felaktigt format.
            </mat-error>
          </mat-form-field>

          <!-- Next -->
          <button class="next" mat-raised-button color="primary" matStepperNext [disabled]="teacherForm.invalid">
            Nästa<mat-icon>navigate_next</mat-icon>
          </button>

        </form>
      </mat-step>
      <!-- END Role Info -->

      <!-- Login Info -->
      <mat-step>
        <ng-template matStepLabel>Logininformation</ng-template>

        <!-- Email and Password -->
        <form [formGroup]="loginForm" (ngSubmit)="signUp()">

          <!-- Email -->
          <mat-form-field>
            <input matInput placeholder="E-mail" formControlName="email">
            <mat-error *ngIf="email.touched && email.hasError('required')">
              E-mail krävs.
            </mat-error>
            <mat-error *ngIf="email.touched && !email.hasError('required') && email.hasError('pattern')">
              Ogiltig E-mailadress.
            </mat-error>
          </mat-form-field>

          <!-- Password -->
          <mat-form-field>
            <input matInput placeholder="Lösenord" formControlName="password" type="password">
            <mat-error *ngIf="password.touched && password.hasError('required')">
              Lösenord krävs.
            </mat-error>
            <mat-error *ngIf="password.touched && !password.hasError('required') && password.hasError('minlength')">
              Lösenordet måste innehålla minst {{ password.errors.minlength.requiredLength }} tecken.
            </mat-error>
          </mat-form-field>

          <!-- Repeat -->
          <mat-form-field>
            <input matInput placeholder="Upprepa lösenord" formControlName="repeat" type="password">
            <mat-error *ngIf="repeat.touched && repeat.hasError('required')">
              Var vänlig upprepa lösenordet.
            </mat-error>
            <mat-hint style="color:red;"
                      *ngIf="repeat.touched && loginForm.errors && loginForm.errors.passwordsDoNotMatch">
              Lösenorden skiljer sig.
            </mat-hint>
          </mat-form-field>

          <!-- Signup Email -->
          <button id="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">
            <mat-icon>person_add</mat-icon>
            Skapa konto
          </button>

        </form>

      </mat-step>
      <!-- END Login Info -->

    </mat-vertical-stepper>
  </mat-card>
</div>
