#sign-up-div {
  margin-top: 10px;
}

#sign-up-card {
  width: 100%;
  max-width: 400px;
}

.role-button {
  width: 49%;
  margin: 0;
}

mat-form-field {
  display: block;
}

#role-radio-group {
  text-align: center;
  display: block;
}

mat-radio-button {
  padding: 0 25px;
}

mat-icon {
  border-radius: 100%;
  color: white;
}

/deep/ div.mat-vertical-content {
  padding-bottom: 0!important;
}

.next {
  float: right;
  margin: 20px 0 0 0;
  padding-right: 0;
}

#submit {
  width: 100%;
  padding: 5px;
  color: white;
}
