<form (ngSubmit)="login()" [formGroup]="form">

  <!--Email-->
  <mat-input-container>
    <input matInput placeholder="E-mail" formControlName="email">
    <mat-error *ngIf="email.touched && email.hasError('required')">
      E-mail krävs.
    </mat-error>
    <mat-error *ngIf="email.touched && !email.hasError('required') && email.hasError('pattern')">
      Ogiltig E-mailadress.
    </mat-error>
  </mat-input-container>

  <!--Password-->
  <mat-input-container>
    <input matInput placeholder="Lösenord" type="password" formControlName="password">
    <mat-error *ngIf="password.touched && password.hasError('required')">
      Lösenord krävs.
    </mat-error>
  </mat-input-container>

  <!--Submit-->
  <div class="login-button-div">
    <button
      mat-raised-button
      color="primary"
      id="email"
      class="login-button"
      [disabled]="form.invalid"
    >
      Logga in med Email
    </button>
  </div>
</form>
