<div class="center">
  <mat-card id="filter-card" class="mat-elevation-z4">
    <mat-chip-list (chipSelectionChanges)="filter($event)" [multiple]="true">
      <mat-chip *ngFor="let option of filterOptions" color="{{option.color}}"
                [selected]="option.selected" (selectionChange)="filter($event)"
                [value]="option.type" (click)="option.selected=!option.selected">
        {{option.name}}
      </mat-chip>
    </mat-chip-list>
  </mat-card>
</div>
<mat-grid-list cols="4" rowHeight="2:1" gutterSize="20">
  <mat-grid-tile *ngFor="let problem of problems | async | problemFilter: filterOptions" class="mat-body mat-elevation-z1">
    <app-problem-card [problem]="problem"></app-problem-card>
  </mat-grid-tile>
</mat-grid-list>
