#filter-card {
  margin: 20px 0;
}

mat-chip {
  user-select: none;
}

mat-chip:hover {
  cursor: pointer;
}

mat-grid-list {
  margin:  0 20px 20px 20px;
}

#scrollable-div {
  overflow: scroll;
  height: 526px;
}
